@import "variables";
@import "~bootstrap/scss/bootstrap";

@import "./grids";
@import "./forms";
@import "./terminal";
@import "./keypad";

* {
	box-sizing: border-box;
}

img {
	width: 100%;
	height: auto;
}

body {
	padding: 0;
	margin: 0;
}

.wrapper {
	max-width: 90%;
	margin: 0 auto;
	padding: 2rem;

	&.form {
		max-width: 60%;
	}
}

.description {
	font-style: italic;
	color: #aaa;
	padding: 1rem;
}